@model IEnumerable<Registeration.Models.TeamMembers>
<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    S.No
                </th>
                <th>
                    Team Title
                </th>
                <th>
                    Participant 1 Name
                </th>
                <th>
                    Participant 1 Phone No
                </th>
                <th>
                    Participate Email ID

                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.teamtitle
                    </td>
                    <td>
                        @item.FullName1
                    </td>
                    <td>
                        @item.Phone1
                    </td>
                    <td>
                        @item.Email1
                    </td>
                    <td>

                        <button class="detail btn btn-danger" data-id="@item.Id">View Details</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <script>

        $(".detail").click(function() {
        var dataId = $(this).data("id");
                window.location.href = '/Team/TeamDetail/' + dataId;
         });


    </script>

</div>





